body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-image: url("ocean1.jpg");
  background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
}

 h1{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}


  /* Header */
header {
    margin-bottom: 1em;
  }

    h1 {
    font-weight: 900;
    color: #205A76;
    letter-spacing: -0.0325em;
  }

    h1 {
      color: #205A76;
      text-decoration: none;
    }


  #header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
  }

    #header h1 {
      position: absolute;
      left: 1em;
      top: 0;
      height: 3em;
      line-height: 3em;
      cursor: default;
    }

      #header h1 a {
        font-size: 1.25em;
      }

    #header nav {
      position: absolute;
      right: 0.5em;
      top: 0;
      height: 3em;
      line-height: 3em;
    }

      #header nav ul {
        margin: 0;
      }

        #header nav ul li {
          display: inline-block;
          margin-left: 0.5em;
          font-size: 0.9em;
        }

          #header nav ul li a {
            display: block;
            color: #205A76;
            text-decoration: none;
            height: 3em;
            line-height: 3em;
            padding: 0 0.5em 0 0.5em;
            outline: 0;
          }

    @media screen and (max-width: 736px) {

      #header {
        height: 2.5em;
        line-height: 2.5em;
      }

        #header h1 {
          text-align: center;
          position: relative;
          left: 0;
          top: 0;
          height: 2.5em;
          line-height: 2.5em;
        }

          #header h1 a {
            font-size: 1em;
          }

        #header nav {
          display: none;
        }

    }

      body {
    padding-top: 3em;
  }

    @media screen and (max-width: 736px) {

      body {
        padding-top: 2.5em;
      }

    }

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: -webkit-linear-gradient(left, #07657E, #8FD1E6);
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

