@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300,700&display=swap');

$sans-serif: 'Inter', sans-serif;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  * {
    box-sizing: inherit;
  }
}


body {
  align-items: center;
  background: linear-gradient(90deg, #2f2023, #2f2023 46.8rem, #eeeae0 46.8rem, #eeeae0);
  display: flex;
  font-family: $sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  
  @media (max-width: 1023px) {
    background: linear-gradient (180deg, #2f2023, #2f2023 22.6rem, #eeeae0 22.6rem, #eeeae0);
  }
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin: 0 0 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.page {
  background-color: #fff;
  margin: 4rem 0;
  position: relative;
  width: calc(100% - 16rem);
  z-index: 1;
  
  @media (max-width: 1023px) {
    margin: 2.4rem;
    width: calc(100% - 8rem);
  }
}

.masthead {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 4rem;
  position: relative;
  
  nav {
    align-items: center;
    display: flex;
    gap: 1.6rem;
  }
}

.menu-toggle {
  margin-right: -0.4rem;
  margin-top: -0.2rem;
}

.logo {
  color: #c36e05;
  font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  display: grid;
  gap: 8rem;
  grid-template-columns: 30rem auto;
  padding: 4rem 8rem 6.4rem;
  
  @media (max-width: 1023px) {
    grid-template-columns: auto;
  }
  
  aside {
    @media (max-width: 1023px) {
      text-align: center; 
    }
  }
  
  img {
    display: block;
    margin-left: -8rem;
    margin-top: 4rem;
    max-width: calc(100% + 8rem);
    
    @media (max-width: 1023px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
  }
  
  main {
    margin-top: 6.6rem;
    
    @media (max-width: 1023px) {
      margin-top: 0;  
    }
  }
}

details { 
  &[open] summary::after {
    transform: rotate(45deg);
  }
  
  &:last-of-type {
    border-bottom: 0.1rem solid #d4bb8f;
  }
  
  summary {
    border-top: 0.1rem solid #d4bb8f;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    list-style: none;
    margin-bottom: 1.6rem;
    padding-top: 1.6rem;
    
    &::after {      
      font-family: 'Material Symbols Outlined';
      content: "add_circle";
      margin-left: auto;
      transform-origin: center;
    }
  }
}